.btn {
  @extend .btn-sm;
  padding: 0.25rem 0.8rem;
  font-weight: 600;
  border-radius: $border-radius;
  
  &.btn-primary {
    color: $secondary;
  }
  
  &.btn-secondary {
    color: $primary;
  }
  
  .btn-inner-icon {
    height: 14px;
  }
}

.form-label {
  font-size: .78rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.form-control {
  font-size: .8rem;
  @include box-shadow(none !important);
  
  &:focus,
  &:active {
    border-color: $primary;
  }
}

.validation-message {
  font-size: .68rem;
  font-weight: bold;
}

.main-box-shadow {
  @include box-shadow(0 0 30px rgba(0, 0, 0, .10));
}

.table-responsive {
  border-radius: $border-radius;
  border-bottom: 30px solid $primary;
  @extend .main-box-shadow;
}

.table {
  margin-bottom: 0;
  
  thead {
    background: $primary;
    color: $secondary;
  }
  
  td,
  th {
    vertical-align: middle;
    font-size: 0.9rem;
    font-weight: 500;

    &.fit {
      white-space: nowrap;
      width: 1%;
    }
  }
  
  td {
    color: $text-color;
  }
}

.modal {
  .modal-content {
    border: none;

    .modal-header {
      padding: .8rem 1rem;
      background: $primary;
      
      .btn-close {
        background-size: .8em;
        background-color: $white;
        padding: 0.4rem;
        margin-right: 0;
      }

      .modal-title {
        color: $secondary;
        font-weight: 600;
        font-size: .9rem;
      }
    }
  }
}

.toast {
  .btn-close {
    background-size: .8em;
    background-color: $white;
    padding: 0.4rem;
    margin-right: 0;
  }
}

.check-sign {
  font-size: 1.2rem;

  .generated {
    color: $primary;
  }
  
  .non-generated {
    color: $gray-400;
  }
}

.module-icon {
  height: 26px;
}

.btn-get-trigger {
  .btn-inner-icon {
    filter: $img-filter-secondary;
  }
}

#main-navbar-nav {
  flex-direction: row !important;
  
  
  .nav-link {
    margin-right: .5rem;
    margin-left: .5rem;
    
    .nav-link-icon {
      display: block;
      font-size: 1.4rem;
      text-align: center;
    }
    
    .nav-link-text {
      display: block;
      font-size: .76rem;
      text-align: center;
    }
  }
}

.navbar-collapse {
  @include respond-below(lg) {
    position: absolute;
    left: 0;
    background: $white;
    padding: 20px;
    width: 100%;
    top: 75px;
    text-align: center;
    @include box-shadow(0 50px 30px rgba(0,0,0,.3));
  }
  
  &.collapsing {
    transition: none !important;
  }
}

.init-loading {
  .loading-text {
    font-size: 1.4rem;
    font-weight: 500;
  }
}