.btn {
  @extend .btn-sm;
  padding: 0.25rem 0.8rem;
  font-weight: 600;
  border-radius: $border-radius;
  
  &.btn-primary {
    color: $secondary;
  }
  
  &.btn-secondary {
    color: $primary;
  }
}