$main-color: #666285;
$second-color: #dcdaef;

$white: white;
$black: black;

$primary: $main-color;
$secondary: $second-color;
$success: #67c72d;
$danger: #c90101;
$info: #0a7cb2;
$warning: #ffb208;
$light: #dedede;
$dark: #2b2b2b;

$theme-colors: (
        primary: $primary,
        secondary: $secondary,
        success: $success,
        info: $info,
        warning: $warning,
        danger: $danger,
        light: $light,
        dark: $dark,
);

$text-color: darken($primary, 12%);

$img-filter-primary: invert(39%) sepia(18%) saturate(703%) hue-rotate(207deg) brightness(93%) contrast(85%);
$img-filter-secondary: invert(97%) sepia(14%) saturate(1660%) hue-rotate(181deg) brightness(96%) contrast(95%);

$border-radius: 0.76rem;

$font-family-main: 'Montserrat', sans-serif;

$mdi-font-path: "/assets/fonts/mdi";