<footer class="footer">
    <div class="container">
        <p class="text">
            MIT License • Copyright © @DateTime.Now.Year <a href="https://georgi.karagogov.com/" target="_blank">Georgi Karagogov</a>
        </p>
    </div>
</footer>

@code {
    
}