@inherits LayoutComponentBase

<div class="page">
    <div class="container">
        <main>
            <AppNavbar/>
            <article class="content pb-4">
                @Body
            </article>
        </main>
    </div>
</div>
<ToastContainer/>